<md-content class="md-padding">
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title ng-binding">
            Įveskite telefono numerį, kurį naudojote užsakymams&nbsp; bei savo slaptažodį
        </h2>
        <md-input-container md-no-float=""  class="md-prompt-input-container ng-scope md-input-has-placeholder md-default-theme" style="">
            <label>Telefono numeris</label>
            <input class="ng-pristine ng-valid md-autofocus md-input ng-empty ng-touched" ng-model="phoneCode">
        </md-input-container>
        <md-input-container md-no-float=""  class="md-prompt-input-container ng-scope md-input-has-placeholder md-default-theme" style="">
            <label>Slaptažodis</label>
            <input class="ng-pristine ng-valid md-autofocus md-input ng-empty ng-touched" ng-model="buyerName">
        </md-input-container>
        <a class="pass-forgot">Pamiršau slaptažodį</a>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button type="submit" class="md-primary md-button ng-scope md-default-theme md-ink-ripple" ng-click="submitCode()">
            Patvirtinti
        </md-button>

    </md-dialog-actions>
</md-content>